body {
    font-family: sans-serif;
  }
  
  /* Make content area fill the entire browser window */
  html,
  .fullscreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

  
  /* Center the content in the browser window */
  .container {
    margin: auto;
    text-align: justify;
  }
 
  .title {
    font-size: 3rem;
  }
  
  #inputform-e,#inputform-p,#inputform-pc{
    width: 70%;
    max-width: 300px;
    margin: auto;
  }
  .text-white {
    color: white;
}
.restaurants-image{
  width: 130%;;
  max-width: 150px;
}


/*for restaurant scrolling containers */
div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

/*for restaurant scrolling containers */
.scroll-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Enables smooth scrolling on iOS */
}

.image-container {
    position: relative;
    margin-right: 5px; /* Adjust as needed */
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

/*carousel settings */
.carousel {
  width: 100%;
  max-width: 400px; /* Set the width to around one-third of the screen */
  margin: auto; /* Center the carousel */
}

.carousel-inner {
  width: 100%; /* Make sure the inner content fills the carousel */
}

.carousel-item img {
  width: 70%;
  height: auto;
}

.carousel-caption {
  color: white;
  size: 100px;
}

.carousel-indicators {
  bottom: 10px; /* Adjust the position of the indicators */
}
.restaurant-name{
  font-size: 70%;
}
.noBorder{
  border: none;
  background: none;
}
#demo,#demo1{
 height: 60%;
 max-height: 200px;
}

.scrollable-table {
  max-height: 400px; /* Set maximum height for the scrollable area */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* calculating dimesions for proper display of map and buttons */
#map{
  width: 100%; height: calc(100% - 70px);
}
#map-container{
  width: 100%; height: calc(100vh - 450px);
}