body {
    font-family: sans-serif;
  }
  
  /* Make content area fill the entire browser window */
  html,
  .fullscreen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

  
  /* Center the content in the browser window */
  .container {
    margin: auto;
    text-align: justify;
  }
 
  .title {
    font-size: 3rem;
  }
  
  #inputform{
    width: 70%;
    max-width: 300px;
    margin: auto;
  }
